.box {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    float: left;
}

.boxBlack {
    background-color: black;
    color: white;
}

.boxWhite {
    background-color: white;
}

footer {
    clear: both;
}
